body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.video-container {
    position: relative;
    top: 100px;
    width: 80%;
    max-width: 640px;
    height: 360px;
    background-color: black;
}

.video-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:black;
    cursor: pointer;
}

#play-button {
    width: 100px;
    height: 100px;
}
